@import './variables.scss';

@mixin hover($hoverColor: $color-yellow, $visitedColor: $color-green) {
  transition: color 0.3s;



  &:hover {
    color: $hoverColor;
  }

  &:active {
    color: $visitedColor;
  }
}

//typography

@mixin fontMarkazi($size:64px, $weight: 500, $lineHeight: 77px, $color: #000, $style: normal, $family: "'Markazi Text', serif") {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    color: $color;
}

@mixin fontKarla($size:16px, $weight: 400, $lineHeight: 19px, $color: $color-green, $style: normal, $family: "'Karla', sans-serif") {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    color: $color;
}
html, body {
    @include fontKarla;
}



h1, .font-display-title {
@include fontMarkazi;
margin: 0;
}

h2, .font-subtitle {
@include fontMarkazi($weight: 400, $size: 40px, $lineHeight: 48px);
margin: 0;
}

.font-card-title {
@include fontKarla($weight: 700, $size: 18px, $lineHeight: 21px, $color: black);
}

.lead-text {
    @include fontKarla($weight: 500, $size: 18px, $lineHeight: 21px, $color: black);
}

p {
@include fontKarla;
}

.color--white {
  color: $color-white; 
}

#root {
  display: grid;
  grid-template-rows: auto 1fr $footer-max-height + 40;
  min-height: 100vh;
}

.container {
  max-width: $page-max-width;
  margin: auto;
  padding: 0 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  flex: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr $footer-max-height;
  padding-top: 16px;
  padding-bottom: 16px;
  max-height: $footer-max-height;
  height: 100%;
}

.menu {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.menu--vertical {
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  max-height: $footer-max-height;
}

.menu-item {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
  @extend .font-card-title;

  @include hover;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .menu {
  @media (max-width: 768px) {
    display: none;
  }
}

.nav .menu--mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
