@import '../../assets/style/variables.scss';

.specials {
    padding-top: 48px;
    padding-bottom: 32px;;
}

.specialsHeader {
    display: flex;
    justify-content: space-between;
    @include screenEqAndLess768 {
        flex-direction: column;
         padding-bottom: 16px;
    }
}

.specialsHeader {
    flex:  1 1 auto;
    @include screenEqAndLess768 {
        margin-bottom: 16px;
    }
}